h1{
  padding:5%;
  margin:auto;
  color: #146;
  background-color: #099;
  display: block;
  width: 100%;
  Height: 10%;
  text-align:center;
  border: 5px solid #234;
  font: 30px "Robot", sans-serif;
}