/* 99CCCC 66CCCC 	339999 	669999 	006666 	336666 */

/* база */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid #000; */
}
body {
  font: .75rem Roboto, Arial;
  display: block;
}

/* цвета */

body {
  color: #ffffff;
}

.r_list, .r_data {
  background-color: #006666;
}
.r_listProjects-project{}
.r_listProjects-project-icon{
  background-color: #66CCCC;
}
.r_listProjects-project-heading{}

.r_elementProject{
  background-color: #336666;
}
.r_elementProject-element {}
.r_list-iconCreate{
  color: #66CCCC;
}
.r_elementProject-element-icon{
  background-color: #66CCCC;
}
.r_elementProject-element-heading{}

.r_content{
  background-color: #339999;
}

.r_data{}

/* блоки 0 */

.r_list{
  /* padding-top: 10px; */
}
.r_list-Create {
  height: 50px;
  margin-top: -5px;
}
.r_list-iconCreate {
  font-size: 30px;
  font-weight: 900;
  margin-left: 25px;
  text-align: center;
}
.r_list-headingCreate{
  text-align: center;
  margin-top: -10px;
}

.r_listProjects {
  display: block;
  width: 70px;
}
.r_listProjects-project {
  height: 60px;
  padding: 10px;
}
.r_listProjects-project-icon {
  margin: 0 auto;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.r_listProjects-project-heading {
  text-align: center;
  padding-top: 5px;
}

.r_search {}
.r_search-string {
  width: 100%;
}
.r_search-label {}

.r_elementProject {
  width: 300px;
  height: 100vh;
}
.r_elementProject-element {
  display: flex;
  padding: 10px;
}
.r_elementProject-element-icon{
  /* border: 1px solid #000; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: left;
}
.r_elementProject-element-heading{
  font-weight: bold;
  display: inline-block;
}

.r_content{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.r_content-main{
  padding: 10px;
  height: 90%;
}
.r_content-fild{
  height: 10%;
  padding: 10px;
  width: 100%;
}
.r_content-fild-input{
  width: 100%;
}

.r_data{
  width: 40%;
}
/* положение */

.r_container {
  display: flex;
}
/* просмотри про дисплейфлекс */
/* примени */

