*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.r_tabs {
  display: flex;
  flex-direction: column;
}

.r_tabs_links {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  order: 0;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #e3f2fd;
  box-shadow: 0 2px 4px 0 #e3f2fd;
}

.r_tabs_link-a {
  display: inline-block;
  text-decoration: none;
  padding: 6px 10px;
  text-align: center;
  color: #1976d2;
}

.r_tabs_link-a:hover {
  background-color: rgba(227, 242, 253, 0.3);
}

#r_tabs_content-0:target~.r_tabs_links>a[href="#r_tabs_content-0"],
#r_tabs_content-1:target~.r_tabs_links>a[href="#r_tabs_content-1"] {
  background-color: #bbdefb;
  cursor: default;
}

.r_tabs>div:not(.r_tabs_links) {
  display: none;
  order: 1;
}

.r_tabs>div:target {
  display: block;
}